body{
  background-image:url('images.jpeg');
  background-size:1015px;
}
.container {
	font-family:  sans-serif;
	border: 4px solid #F07334;
	
	text-align:  center;
	margin: auto;
	border-radius: 12px;
	background-color:#006a84 ;
	padding-bottom: 5px;

}
.submit{
 width:59px;
 height:30px;
 background-color:#00b1c3;
 border-radius:8px;
}
.password,.username{
background-color:#83cfff;
border-radius:10px;
height:23px;
}
a{
  text-decoration:none;
  color:white;
}
